# 1. Import Python Pakcages

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Import "Special Admit Foundation" Data

In [2]:
# Define the file path to import Special Admit Foundation Data
# Replace "sampledrive\samplefolder\samplefile" with correct path ("drive\folder\file")
file_path = r'C:\Project Files\CDE 2024 Python\RP_Conference_Share\Special Admit Foundation_sample.csv'

#check to see if the file path exists  
print(os.path.exists(file_path))  # Return "True" or "Flase"

# Read the file into a DataFrame named "df_ecc_2324"
# Assuming the file is delimited by a specific character, for example, a comma. 
# Adjust the delimiter as needed.
df_ecc_2324 = pd.read_csv(file_path, delimiter=',', low_memory=False)  # Change delimiter if necessary

# (Optional) Display the first few rows and the shape of the DataFrame to verify
print(df_ecc_2324.head())

True
   StudentID         Ethnicity     AcYr  EnrollType AdmitType HighSchool  \
0          1            Latinx  2023-24  Concurrent      Conc          A
1          2             Asian  2023-24        CCAP      Dual          B
2          3   Multi-Ethnicity  2023-24  Concurrent      Conc          C
3          4            Latinx  2023-24  Concurrent      Conc          D
4          5  African American  2023-24  Concurrent      Conc          D

               District College
0  High School District    ABCD
1  High School District    ABCD
2  High School District    ABCD
3  High School District    ABCD
4  High School District    ABCD

### Check on Required Columns/Values

In [3]:
# The .info() method displays summary information about the dataframe,  
# including the number of non-null values, data types, and memory usage.  
df_ecc_2324.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   1138 non-null   int64
 1   Ethnicity   1138 non-null   object
 2   AcYr        1138 non-null   object
 3   EnrollType  1138 non-null   object
 4   AdmitType   1138 non-null   object
 5   HighSchool  1138 non-null   object
 6   District    1138 non-null   object
 7   College     1138 non-null   object
dtypes: int64(1), object(7)
memory usage: 71.3+ KB

In [4]:
# Verify the required columns and values for processing

# Required column names
required_columns = ['StudentID', 'Ethnicity', 'AcYr', 'AdmitType', 'EnrollType', 'HighSchool']

# Check for missing columns
missing_columns = [col for col in required_columns if col not in df_ecc_2324.columns]
if missing_columns:
    raise ValueError(f"Missing required columns: {missing_columns}")
else:
    print("All required columns are present.")

# Verify required values in 'EnrollType'
required_enroll_types = {"NCD","CCAP", "Concurrent"}
actual_enroll_types = set(df_ecc_2324['EnrollType'].unique())
missing_enroll_types = required_enroll_types - actual_enroll_types
if missing_enroll_types:
    raise ValueError(f"Missing required values in 'EnrollType': {missing_enroll_types}")
else:
    print("All required 'EnrollType' values are present.")

# Verify required values in 'AdmitType'
required_admit_types = {"Conc", "Dual"}
actual_admit_types = set(df_ecc_2324['AdmitType'].unique())
missing_admit_types = required_admit_types - actual_admit_types
if missing_admit_types:
    raise ValueError(f"Missing required values in 'AdmitType': {missing_admit_types}")
else:
    print("All required 'AdmitType' values are present.")

# Optionally rename columns if needed
i_renameCol = 0  # Set to 1 if renaming is required

if i_renameCol == 1:
    # Define renaming map
    rename_dict = {
        'OldColumnName1': 'NewColumnName1',
        'OldColumnName2': 'NewColumnName2',
        'OldColumnName3': 'NewColumnName3',
        # Add more mappings if needed
    }
    
    # Rename columns
    df_ecc_2324 = df_ecc_2324.rename(columns=rename_dict)

    # Display updated dataframe
    print("Updated Dataframe Preview:")
    print(df_ecc_2324.head())

# Output to confirm successful validation
print("Data validation completed successfully.")

All required columns are present.
All required 'EnrollType' values are present.
All required 'AdmitType' values are present.
Data validation completed successfully.

 ### Clean up "HighSchool" for missing values, if needed

In [5]:
# Display the count of unique values in the 'HighSchool' column, including NaN values.
# This helps check the distribution of high school names and detect missing or inconsistent entries.
print(df_ecc_2324.HighSchool.value_counts(dropna=False))

# Comment: Identified that missing values in the 'HighSchool' column are represented by various symbols:
# blank (''), double quotes ('""'), and a space (' '). These values need to be standardized to 'Unreported'.
# This ensures consistency in how missing values are handled and prevents errors during analysis.
df_ecc_2324['HighSchool'] = df_ecc_2324['HighSchool'].replace(['', '""', ' '], 'Unreported')

# Optionally, display the updated 'HighSchool' column to verify changes.
print(df_ecc_2324['HighSchool'].value_counts(dropna=False))

HighSchool
K     217
H     194
J     106
I      89
G      75
D      74
F      62
N      62
C      57
E      45
A      43
M      41
B      39
L      34
Name: count, dtype: int64
HighSchool
K     217
H     194
J     106
I      89
G      75
D      74
F      62
N      62
C      57
E      45
A      43
M      41
B      39
L      34
Name: count, dtype: int64

 ### Check Columns "AcYr", "EnrollType", "Ethnicity", "AdmitType"

In [6]:
# Display the count of unique values in the 'EnrollType' column, including NaN values.
# This helps identify the distribution of enroll types and detect any missing values (NaN).
print(df_ecc_2324.EnrollType.value_counts(dropna=False))

# Display the count of unique values in the 'AcYr' (Academic Year) column, including NaN values.
# This will give an overview of the academic years present in the dataset, including any missing years.
print(df_ecc_2324.AcYr.value_counts(dropna=False))

# Display the count of unique values in the 'Ethnicity' column, including NaN values.
# This shows the distribution of ethnicities in the dataset, including any missing data (NaN).
print(df_ecc_2324.Ethnicity.value_counts(dropna=False))

# Display the count of unique values in the 'AdmitType' column, including NaN values.
# This shows the distribution of ethnicities in the dataset, including any missing data (NaN).
print(df_ecc_2324.AdmitType.value_counts(dropna=False))

EnrollType
CCAP          673
NCD           408
Concurrent     57
Name: count, dtype: int64
AcYr
2023-24    469
2021-22    437
2022-23    232
Name: count, dtype: int64
Ethnicity
Latinx              362
White               231
Asian               193
Filipino            162
Multi-Ethnicity     105
African American     64
Unreported           16
Pacific Islander      3
Native American       2
Name: count, dtype: int64
AdmitType
Dual    1074
Conc      64
Name: count, dtype: int64

 ### Two way contigency tables to examine distribution of data, if needed

In [7]:
# Create and display a two-way frequency table (crosstab)  
# showing the count of 'EnrollType' occurrences for each 'HighSchool'.  
print(pd.crosstab(df_ecc_2324['HighSchool'], df_ecc_2324['EnrollType']))

EnrollType  CCAP  Concurrent  NCD
HighSchool
A             21           7   15
B             22           2   15
C             20           6   31
D             27          13   34
E             26           4   15
F             35           1   26
G             48           2   25
H            155           2   37
I             61          12   16
J             54           0   52
K            121           3   93
L             27           1    6
M             28           1   12
N             28           3   31

 ### Visually Examine Overall Missing Data

In [8]:
# change i_missing value to 1 to visually check on missing data in other variavbles
i_missing=0

if i_missing==1:
    plt.figure(figsize=(10,6))
    sns.displot(
        data=df_ecc_2324.isna().melt(value_name="missing"),
        y="variable",
        hue="missing",
        multiple="fill",
        aspect=1.25
    )

# 3. Data Aggregation

## 3.1. Aggregate Students by 'HighSchool', 'AcYr', 'EnrollType'

In [9]:
# Step 1: Filter out rows with missing values in the 'HighSchool' column
# Only include rows where 'HighSchool' is not NaN
filtered_data = df_ecc_2324.dropna(subset=['HighSchool'])

# Step 2: Aggregate students by 'HighSchool', 'AcYr', and 'EnrollType' to calculate unique student headcounts
# The unique count of 'StudentID' represents the number of students for each combination
aggregated_data = (
    filtered_data.groupby(['HighSchool', 'AcYr', 'EnrollType'])
    .agg({'StudentID': 'nunique'})
    .reset_index()
)

# Rename the count column to 'HeadCount' for clarity
aggregated_data = aggregated_data.rename(columns={'StudentID': 'HeadCount'})

# Step 3: Pivot the aggregated data to wide format
# Create a table where each 'EnrollType' becomes a column
wide_table_1 = aggregated_data.pivot_table(
    index=['HighSchool', 'AcYr'],  # Group by 'HighSchool' and 'AcYr'
    columns=['EnrollType'],        # Use 'EnrollType' as column headers
    values='HeadCount',            # Use 'HeadCount' as cell values
    fill_value=0                   # Fill missing values with 0
)

# Step 4: Aggregate students by 'HighSchool' and 'AcYr' to calculate total unique students across all EnrollTypes
total_headcount = (
    filtered_data.groupby(['HighSchool', 'AcYr'])
    .agg({'StudentID': 'nunique'})
    .rename(columns={'StudentID': 'SA'})  # Rename the count column to 'SA'
)

# Step 5: Combine the pivoted data and total headcount data horizontally
# This results in a table with both 'EnrollType' headcounts and total 'SA' counts
wide_table_1 = pd.concat([wide_table_1, total_headcount], axis=1)


# Step 6: Replace "ABCD" with your college Abbreviation (e.g., "SDCCD"). 
# Add "ABCD_' as a prefix and '_Total' as a suffix to all column names to standardize the naming format.
# For example: "CCAP" becomes "ABCD_CCAP_Total" (e.g.,"SDCCD_CCAP_Total").

wide_table_1.columns = [
    'ABCD_' + ''.join(col).strip() + '_Total' for col in wide_table_1.columns.values
]

# Step 7: Reset the index to make 'HighSchool' and 'AcYr' regular columns
wide_table_1.reset_index(inplace=True)

# Step 8: Rename the 'HighSchool' column to 'School_ABCD'
# This aligns with naming conventions for later joins with other tables
wide_table_1 = wide_table_1.rename(columns={'HighSchool': 'School_ABCD'})

# Step 9: (Optional) 
#Display the first few rows and the shape of the final wide-format table for verification.
# Uncomment the lines below to inspect the output.
print(wide_table_1.head())
# print(wide_table_1.shape)

  School_ABCD     AcYr  ABCD_CCAP_Total  ABCD_Concurrent_Total  \
0           A  2021-22             12.0                    1.0
1           A  2022-23              0.0                    0.0
2           A  2023-24              9.0                    6.0
3           B  2021-22             11.0                    0.0
4           B  2022-23              0.0                    0.0

   ABCD_NCD_Total  ABCD_SA_Total
0             5.0             18
1             4.0              4
2             6.0             21
3             7.0             18
4             5.0              5

## 3.2. Aggregate students by 'HighSchool', 'AcYr', 'EnrollType', and 'Ethnicity'

In [10]:
# Step 1: Aggregate students by 'HighSchool', 'AcYr', 'EnrollType', and 'Ethnicity' to calculate unique headcounts
# The unique count of 'StudentID' represents the number of students for each combination
aggregated_data = (
    filtered_data.groupby(['HighSchool', 'AcYr', 'EnrollType', 'Ethnicity'])
    .agg({'StudentID': 'nunique'})
    .reset_index()
)

# Rename the count column to 'HeadCount'
aggregated_data = aggregated_data.rename(columns={'StudentID': 'HeadCount'})

# Step 2: Pivot the aggregated data to wide format
# Create a table where the combination of 'EnrollType' and 'Ethnicity' becomes column headers
wide_table_2 = aggregated_data.pivot_table(
    index=['HighSchool', 'AcYr'],  # Group by 'HighSchool' and 'AcYr'
    columns=['EnrollType', 'Ethnicity'],  # Use combined 'EnrollType' and 'Ethnicity' as columns
    values='HeadCount',  # Use 'HeadCount' as cell values
    fill_value=0  # Fill missing values with 0
)

# Step 3: Format column names by combining 'EnrollType' and 'Ethnicity' with an 'ABCD_' prefix
wide_table_2.columns = ['ABCD_' + '_'.join(col).strip() for col in wide_table_2.columns.values]

# Step 4: Aggregate students by 'HighSchool', 'AcYr', and 'Ethnicity' to calculate headcounts across all 'EnrollType'
# This will give the total unique headcounts by ethnicity
temp = (
    filtered_data.groupby(['HighSchool', 'AcYr', 'Ethnicity'])
    .agg({'StudentID': 'nunique'})
    .rename(columns={'StudentID': 'HeadCount'})  # Rename the count column
)

# Step 5: Pivot the aggregated data to wide format with 'Ethnicity' as columns
temp = temp.pivot_table(
    index=['HighSchool', 'AcYr'],  # Group by 'HighSchool' and 'AcYr'
    columns='Ethnicity',  # Use 'Ethnicity' as columns
    values='HeadCount',  # Use 'HeadCount' as cell values
    fill_value=0  # Fill missing values with 0
)

# Step 6: Add 'ABCD_SA_' prefix to column names for clarity
temp.columns = ['ABCD_SA_' + col.strip() for col in temp.columns.values]

# Step 7: Combine the two pivoted tables horizontally
# This results in a table with both 'EnrollType-Ethnicity' and total 'SA-Ethnicity' headcounts
wide_table_2 = pd.concat([wide_table_2, temp], axis=1)

# Step 8: Reset the index to make 'HighSchool' and 'AcYr' regular columns
wide_table_2.reset_index(inplace=True)

# Step 9: Rename the 'HighSchool' column to 'School_ABCD' for consistency and future joins
wide_table_2 = wide_table_2.rename(columns={'HighSchool': 'School_ABCD'})

# Step 10: (Optional) 
#Display the first few rows and the shape of the final wide-format table for verification.
# Uncomment the lines below to inspect the output.
print(wide_table_2.head())
# print(wide_table_2.shape)

  School_ABCD     AcYr  ABCD_CCAP_African American  ABCD_CCAP_Asian  \
0           A  2021-22                         0.0              1.0
1           A  2022-23                         0.0              0.0
2           A  2023-24                         0.0              2.0
3           B  2021-22                         0.0              2.0
4           B  2022-23                         0.0              0.0

   ABCD_CCAP_Filipino  ABCD_CCAP_Latinx  ABCD_CCAP_Multi-Ethnicity  \
0                 0.0               3.0                        0.0
1                 0.0               0.0                        0.0
2                 0.0               4.0                        0.0
3                 1.0               1.0                        3.0
4                 0.0               0.0                        0.0

   ABCD_CCAP_Native American  ABCD_CCAP_Pacific Islander  \
0                        0.0                         0.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        0.0                         0.0
4                        0.0                         0.0

   ABCD_CCAP_Unreported  ...  ABCD_NCD_White  ABCD_SA_African American  \
0                   0.0  ...             1.0                       0.0
1                   0.0  ...             3.0                       0.0
2                   1.0  ...             4.0                       0.0
3                   0.0  ...             5.0                       0.0
4                   0.0  ...             3.0                       0.0

   ABCD_SA_Asian  ABCD_SA_Filipino  ABCD_SA_Latinx  ABCD_SA_Multi-Ethnicity  \
0            2.0               0.0             6.0                      0.0
1            0.0               0.0             0.0                      0.0
2            3.0               0.0             7.0                      0.0
3            3.0               2.0             1.0                      3.0
4            1.0               0.0             0.0                      1.0

   ABCD_SA_Native American  ABCD_SA_Pacific Islander  ABCD_SA_Unreported  \
0                      0.0                       0.0                 0.0
1                      0.0                       0.0                 1.0
2                      0.0                       0.0                 1.0
3                      0.0                       0.0                 0.0
4                      0.0                       0.0                 0.0

   ABCD_SA_White
0           10.0
1            3.0
2           10.0
3            9.0
4            3.0

[5 rows x 34 columns]

## 3.3. Aggregate Students by 'HighSchool', 'AcYr', 'AdmitType'

In [11]:
# Step 1: Aggregate students by 'HighSchool', 'AcYr', and 'AdmitType'
# Count unique 'StudentID' to calculate the number of students for each combination
aggregated_data = (
    filtered_data.groupby(['HighSchool', 'AcYr', 'AdmitType'])
    .agg({'StudentID': 'nunique'})
    .reset_index()
)

# Step 2: Rename the count column to 'HeadCount'
aggregated_data = aggregated_data.rename(columns={'StudentID': 'HeadCount'})

# Step 3: Pivot the aggregated data to wide format
# Use 'AdmitType' as columns and 'HeadCount' as cell values
wide_table_3 = aggregated_data.pivot_table(
    index=['HighSchool', 'AcYr'],  # Group by 'HighSchool' and 'AcYr'
    columns='AdmitType',  # Use 'AdmitType' as columns
    values='HeadCount',  # Use 'HeadCount' as cell values
    fill_value=0  # Fill missing values with 0
)

# Step 4: Add 'ABCD_' prefix to column names to clarify 'AdmitType'
wide_table_3.columns = ['ABCD_' + col + '_Total' for col in wide_table_3.columns]

# Step 5: Reset the index to make 'HighSchool' and 'AcYr' regular columns
wide_table_3.reset_index(inplace=True)

# Step 6: Rename the 'HighSchool' column to 'School_ABCD' for consistency in joins
wide_table_3 = wide_table_3.rename(columns={'HighSchool': 'School_ABCD'})

# Step 7: (Optional) 
#Display the first few rows and the shape of the final wide-format table for verification.
# Uncomment the lines below to inspect the output.
print(wide_table_3.head())
# print(wide_table_3.shape)

  School_ABCD     AcYr  ABCD_Conc_Total  ABCD_Dual_Total
0           A  2021-22              2.0             16.0
1           A  2022-23              0.0              4.0
2           A  2023-24              6.0             15.0
3           B  2021-22              0.0             18.0
4           B  2022-23              0.0              5.0

## 3.4. Aggragate Students by 'HighSchool', 'AcYr', 'AdmitType', 'Ethnicity'

In [12]:
# Step 1: Aggregate students by 'HighSchool', 'AcYr', 'AdmitType', and 'Ethnicity'
# Count unique 'StudentID' to calculate headcounts for each combination
aggregated_data = (
    filtered_data.groupby(['HighSchool', 'AcYr', 'AdmitType', 'Ethnicity'])
    .agg({'StudentID': 'nunique'})
    .reset_index()
)

# Step 2: Rename the count column to 'HeadCount'
aggregated_data = aggregated_data.rename(columns={'StudentID': 'HeadCount'})

# Step 3: Pivot the aggregated data to wide format
# Use combined values of 'AdmitType' and 'Ethnicity' as column headers
wide_table_4 = aggregated_data.pivot_table(
    index=['HighSchool', 'AcYr'],  # Group by 'HighSchool' and 'AcYr'
    columns=['AdmitType', 'Ethnicity'],  # Use 'AdmitType' and 'Ethnicity' as columns
    values='HeadCount',  # Use 'HeadCount' as cell values
    fill_value=0  # Fill missing values with 0
)

# Step 4: Rename the columns
# Combine 'AdmitType' and 'Ethnicity' into a single string and add 'ABCD_' prefix for clarity
wide_table_4.columns = ['ABCD_' + '_'.join(col).strip() for col in wide_table_4.columns.values]

# Step 5: Reset the index to make 'HighSchool' and 'AcYr' regular columns
wide_table_4.reset_index(inplace=True)

# Step 6: Rename the 'HighSchool' column to 'School_ABCD' for consistency in naming
wide_table_4 = wide_table_4.rename(columns={'HighSchool': 'School_ABCD'})

# Step 7: (Optional) 
#Display the first few rows and the shape of the final wide-format table for verification.
# Uncomment the lines below to inspect the output.
print(wide_table_4.head())
# print(wide_table_4.shape)

  School_ABCD     AcYr  ABCD_Conc_African American  ABCD_Conc_Asian  \
0           A  2021-22                         0.0              0.0
1           A  2022-23                         0.0              0.0
2           A  2023-24                         0.0              1.0
3           B  2021-22                         0.0              0.0
4           B  2022-23                         0.0              0.0

   ABCD_Conc_Filipino  ABCD_Conc_Latinx  ABCD_Conc_Multi-Ethnicity  \
0                 0.0               0.0                        0.0
1                 0.0               0.0                        0.0
2                 0.0               1.0                        0.0
3                 0.0               0.0                        0.0
4                 0.0               0.0                        0.0

   ABCD_Conc_Unreported  ABCD_Conc_White  ABCD_Dual_African American  \
0                   0.0              2.0                         0.0
1                   0.0              0.0                         0.0
2                   0.0              4.0                         0.0
3                   0.0              0.0                         0.0
4                   0.0              0.0                         0.0

   ABCD_Dual_Asian  ABCD_Dual_Filipino  ABCD_Dual_Latinx  \
0              2.0                 0.0               6.0
1              0.0                 0.0               0.0
2              2.0                 0.0               6.0
3              3.0                 2.0               1.0
4              1.0                 0.0               0.0

   ABCD_Dual_Multi-Ethnicity  ABCD_Dual_Native American  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        3.0                        0.0
4                        1.0                        0.0

   ABCD_Dual_Pacific Islander  ABCD_Dual_Unreported  ABCD_Dual_White
0                         0.0                   0.0              8.0
1                         0.0                   1.0              3.0
2                         0.0                   1.0              6.0
3                         0.0                   0.0              9.0
4                         0.0                   0.0              3.0

# 4. Combine all the aggregation tables

In [13]:
# Concatenate tables horizontally based on common columns
combined_table = pd.concat([wide_table_1.set_index(["School_ABCD", "AcYr"]),
                            wide_table_2.set_index(["School_ABCD", "AcYr"]),
                            wide_table_3.set_index(["School_ABCD", "AcYr"]),
                            wide_table_4.set_index(["School_ABCD", "AcYr"])],
                            axis=1)

# Reset index to convert 'School_ABCD' and 'AcYr' back to columns
combined_table.reset_index(inplace=True)
combined_table.columns

Index(['School_ABCD', 'AcYr', 'ABCD_CCAP_Total', 'ABCD_Concurrent_Total',
       'ABCD_NCD_Total', 'ABCD_SA_Total', 'ABCD_CCAP_African American',
       'ABCD_CCAP_Asian', 'ABCD_CCAP_Filipino', 'ABCD_CCAP_Latinx',
       'ABCD_CCAP_Multi-Ethnicity', 'ABCD_CCAP_Native American',
       'ABCD_CCAP_Pacific Islander', 'ABCD_CCAP_Unreported', 'ABCD_CCAP_White',
       'ABCD_Concurrent_African American', 'ABCD_Concurrent_Asian',
       'ABCD_Concurrent_Filipino', 'ABCD_Concurrent_Latinx',
       'ABCD_Concurrent_Multi-Ethnicity', 'ABCD_Concurrent_Unreported',
       'ABCD_Concurrent_White', 'ABCD_NCD_African American', 'ABCD_NCD_Asian',
       'ABCD_NCD_Filipino', 'ABCD_NCD_Latinx', 'ABCD_NCD_Multi-Ethnicity',
       'ABCD_NCD_Unreported', 'ABCD_NCD_White', 'ABCD_SA_African American',
       'ABCD_SA_Asian', 'ABCD_SA_Filipino', 'ABCD_SA_Latinx',
       'ABCD_SA_Multi-Ethnicity', 'ABCD_SA_Native American',
       'ABCD_SA_Pacific Islander', 'ABCD_SA_Unreported', 'ABCD_SA_White',
       'ABCD_Conc_Total', 'ABCD_Dual_Total', 'ABCD_Conc_African American',
       'ABCD_Conc_Asian', 'ABCD_Conc_Filipino', 'ABCD_Conc_Latinx',
       'ABCD_Conc_Multi-Ethnicity', 'ABCD_Conc_Unreported', 'ABCD_Conc_White',
       'ABCD_Dual_African American', 'ABCD_Dual_Asian', 'ABCD_Dual_Filipino',
       'ABCD_Dual_Latinx', 'ABCD_Dual_Multi-Ethnicity',
       'ABCD_Dual_Native American', 'ABCD_Dual_Pacific Islander',
       'ABCD_Dual_Unreported', 'ABCD_Dual_White'],
      dtype='object')

In [14]:
# Concatenate tables horizontally based on common columns
combined_table = pd.concat([wide_table_1.set_index(["School_ABCD", "AcYr"]),
                            wide_table_2.set_index(["School_ABCD", "AcYr"]),
                            wide_table_3.set_index(["School_ABCD", "AcYr"]),
                            wide_table_4.set_index(["School_ABCD", "AcYr"])],
                            axis=1)

# Reset index to convert 'School_ABCD' and 'AcYr' back to columns
combined_table.reset_index(inplace=True)
combined_table.shape

#drop duplicated columns, i.e,.'ABCD_Concurrent_African America' and 'ABCD_Conc_African America ' are duplicates, and so on 
# List of potential columns to drop
columns_to_drop = [
    'ABCD_Conc_Total', 'ABCD_Concurrent_African American',
    'ABCD_Concurrent_Asian', 'ABCD_Concurrent_Filipino',
    'ABCD_Concurrent_Latinx', 'ABCD_Concurrent_Multi-Ethnicity',
    'ABCD_Concurrent_Native American', 'ABCD_Concurrent_Pacific Islander',
    'ABCD_Concurrent_Unreported', 'ABCD_Concurrent_White'
]

# Filter the list to only include columns that exist in combined_table.columns
columns_to_drop = [col for col in columns_to_drop if col in combined_table.columns]


# Drop the specified columns
combined_table.drop(columns=columns_to_drop, inplace=True)
# Rename columns as needed
combined_table = combined_table.rename(columns={'ABCD_Concurrent_Total': 'ABCD_Conc_Total'})

# 5. Output Aggregated Highshool data into An Excel File for Later Import into "RP_SpecialAdmit_Headcount_Combined.ipynb"

In [15]:
# Define the file path where you want your  aggregated Highschool data to be stored
file_path = r'C:\Project Files\CDE 2024 Python\RP_Conference_Share\Special Admit Heaadcount_by_HioghSchool.xlsx'

# Save the aggregated data to an Excel file
combined_table.to_excel(file_path, index=False)

print(f"Combined data has been saved to: {file_path}")

Combined data has been saved to: C:\Project Files\CDE 2024 Python\RP_Conference_Share\Special Admit Heaadcount_by_HioghSchool.xlsx